openapi: 3.1.0
info:
  title: Appcues Public Banners Events API
  version: '2.0'
  description: 'The Appcues Public API exposes programmatic access to Appcues flows,

    mobile experiences, pins, launchpads, banners, checklists, embeds, NPS,

    segments, users, groups, events, and offline jobs. US and EU regions are

    supported. Authentication uses HTTP Basic with an API key as the username

    and API secret as the password.

    '
  contact:
    name: Appcues Developers
    url: https://docs.appcues.com/dev-overview/
servers:
- url: https://api.appcues.com
  description: US region
- url: https://api.eu.appcues.com
  description: EU region
security:
- BasicAuth: []
tags:
- name: Events
paths:
  /v2/accounts/{account_id}/users/{user_id}/events:
    get:
      tags:
      - Events
      summary: List user events
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
    post:
      tags:
      - Events
      summary: Track user event
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/UserId'
      responses:
        '202':
          description: Accepted
components:
  parameters:
    UserId:
      name: user_id
      in: path
      required: true
      description: End-user identifier
      schema:
        type: string
    AccountId:
      name: account_id
      in: path
      required: true
      description: Appcues account identifier
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using API_KEY as username and API_SECRET as password.
