openapi: 3.2.0
info:
  title: Appcues Public Groups API
  version: '2.0'
  description: 'The Appcues Public API exposes programmatic access to Appcues flows,

    mobile experiences, pins, launchpads, banners, checklists, embeds, NPS,

    segments, users, groups, events, and offline jobs. US and EU regions are

    supported. Authentication uses HTTP Basic with an API key as the username

    and API secret as the password.'
  contact:
    name: Appcues Developers
    url: https://docs.appcues.com/dev-overview/
servers:
- url: https://api.appcues.com
  description: US region
- url: https://api.eu.appcues.com
  description: EU region
security:
- BasicAuth: []
tags:
- name: Groups
paths:
  /v2/accounts/{account_id}/groups/{group_id}/profile:
    get:
      tags:
      - Groups
      summary: Get group profile
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/GroupId'
      responses:
        '200':
          description: OK
      operationId: getV2AccountsByAccountIdGroupsByGroupIdProfile
      x-operation-id-source: derived
    patch:
      tags:
      - Groups
      summary: Update group profile
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/GroupId'
      responses:
        '200':
          description: OK
      operationId: patchV2AccountsByAccountIdGroupsByGroupIdProfile
      x-operation-id-source: derived
  /v2/accounts/{account_id}/groups/{group_id}/users:
    patch:
      tags:
      - Groups
      summary: Update group users
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/GroupId'
      responses:
        '200':
          description: OK
      operationId: patchV2AccountsByAccountIdGroupsByGroupIdUsers
      x-operation-id-source: derived
components:
  parameters:
    GroupId:
      name: group_id
      in: path
      required: true
      description: Group identifier
      schema:
        type: string
    AccountId:
      name: account_id
      in: path
      required: true
      description: Appcues account identifier
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using API_KEY as username and API_SECRET as password.
