openapi: 3.1.0
info:
  title: Appcues Public Banners Tags API
  version: '2.0'
  description: 'The Appcues Public API exposes programmatic access to Appcues flows,

    mobile experiences, pins, launchpads, banners, checklists, embeds, NPS,

    segments, users, groups, events, and offline jobs. US and EU regions are

    supported. Authentication uses HTTP Basic with an API key as the username

    and API secret as the password.

    '
  contact:
    name: Appcues Developers
    url: https://docs.appcues.com/dev-overview/
servers:
- url: https://api.appcues.com
  description: US region
- url: https://api.eu.appcues.com
  description: EU region
security:
- BasicAuth: []
tags:
- name: Tags
paths:
  /v2/accounts/{account_id}/tags:
    get:
      tags:
      - Tags
      summary: List tags
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: OK
  /v2/accounts/{account_id}/tags/{tag_id}:
    get:
      tags:
      - Tags
      summary: Get a tag
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: tag_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: Appcues account identifier
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using API_KEY as username and API_SECRET as password.
